
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
}

.user-image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: #e2e2e2 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: -100px;
}

.user-image {
  width: 50%;
  height: 100%;
  object-fit: contain;
  margin-left: 20px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.login-form {
  width: 380px;
  padding: 20px;
margin-right: 25px;
margin-top: -20px;

}

.login-header {
  text-align: center;
  font: normal normal bold 48px/65px Open Sans;
  letter-spacing: 0px;
  color: #0b3558;
  opacity: 1;
  margin-top: -5px;
  font-size: 40px;
}
.login-paragraph{
text-align: center;
font: normal normal normal 20px/27px Open Sans;
letter-spacing: 0px;
color: #0B3558;
opacity: 1;
margin-top: -25px;
font-size: 20px;

}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #A2A2A2;
border-radius: 4px;
opacity: 1;

}

.login-button {
  width: 106%;
  padding: 10px;
  margin-top: 8px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.login-link {
  display: block;
  text-align: right;
  text-decoration: none;
  font: normal normal 600 17px/18px Open Sans;
letter-spacing: 0px;
color: #003FB9;
opacity: 1;
margin-right: -22px;
}

form i {
  margin-left: 370px;
  margin-top: -36px;
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  
}

